<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css?h=123" />
    <title>Document</title>
  </head>
  <body>
    <div id="header">
      <h1>Inventory Manager</h1>
    </div>
    <div id="maincontainer">
      <div id="categories">
        <h2>Categories:</h2>
        <ul id="categorylist">
          <li><a href="/">All Categories</a></li>
          <li th:each="item: ${categories}">
            <a
              th:href="@{/reloadcategory(name=${item.name})}"
              th:text="${item.name}"
            ></a>
          </li>
        </ul>
        <a id="addcategorybutton" href="/newcategory">Add Category</a>
        <a id="additembutton" href="/newitem">Add Item</a>
        <a id="deletecategorybutton" href="/deletecategory">Delete Category</a>
        <a id="deleteitembutton" href="/deleteitem">Delete Item</a>
      </div>
      <div id="itemscontainer">
        <h2>Items:</h2>
        <div id="items">
          <div class="item" th:each="item: ${items}">
            <h3 th:text="${item.name}"></h3>
            <h5>Category:</h5>
            <p th:text="${item.category}"></p>
            <h5>Description:</h5>
            <p class="itemdescription" th:text="${item.description}"></p>
            <p>Quantity: <span th:text="${item.quantity}"></span></p>
            <div class="quantitybuttons">
              <a th:href="@{/decreaseitem(name=${item.name})}" class="minus"
                >-</a
              >
              <a th:href="@{/increaseitem(name=${item.name})}" class="plus"
                >+</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
